/* App container */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #000;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* Table styles */
.table-container {
  width: 100%;
  max-width: 1000px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid #fff;
}

th {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  background-color: red; /* Set column name heading background color to red */
  font-weight: bold; /* Bold font for column name headings */
}

td {
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  color: #fff; /* Set text color for table data to white */
}

/* Loading message styles */
p {
  font-size: 18px;
  margin-top: 20px;
}

/* Header styles */
h1 {
  font-size: 24px;
  margin-bottom: 10px;
}
